html {
    overflow: hidden;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative;
    overflow: auto;

    // Google Material Icons
    // https://fonts.google.com/icons
    // https://developers.google.com/fonts/docs/material_icons
    .material-icons {
        font-family: 'Material Icons' !important;
        font-weight: normal !important;
        font-style: normal !important;
        font-size: 24px !important;  /* Preferred icon size */
        display: inline-block !important;
        line-height: 1 !important;
        text-transform: none !important;
        letter-spacing: normal !important;
        word-wrap: normal !important;
        white-space: nowrap !important;
        direction: ltr !important;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased !important;
    
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility !important;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale !important;
      
        /* Support for IE. */
        font-feature-settings: 'liga' !important;
    }
}

app-nav-menu [mat-tab-nav-bar] {
    height: calc(100% - 1px);
    border-bottom: 0 !important;
    > .mat-tab-link-container {
        height: 100%;
    }
    div.mat-tab-links {
        height: 100%;
        align-items: center;
    }
    a[mat-tab-link] {
        height: 100%;
    }
}